@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Pacifico&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

/*-----------------Estilos base-----------------*/

img {
    display: block;
    width: 100%;
    max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.container {
    width: 100%;
    margin: auto;
}

.container--flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.column {
    width: 100%;
}

/*-----------------Estilos header-----------------*/

.main-header {
    width: 100%;
}

.logo {
    font-size: 1.8em;
    color: #DE423A;
    padding: 10px;
    font-family: 'Pacifico', cursive;
    font-weight: 100;
}

.main-header__contactInfo__phone {
    background: #DE423A;
    color: white;
    margin: 0 auto;
    padding: 10px;
}

.main-header__contactInfo__address {
    margin: 0;
    padding: 10px;
}

.main-header [class*="icon-"]:before {
    position: relative;
    top: 2px;
    right: 5px;
}